

.logo-img {
    width: 75px;
    height: auto;
}

.navbar-brand h2 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 10px;
    white-space: nowrap;
}

.ItemListStyle {
    color: black;
    font-size: larger;
}

.ItemListStyle:hover {
    color: black !important;
}


@media (max-width: 768px) {
    .navbar-brand img {
        display: none;
    }
}
