input[type="radio"] {
    opacity: 0;
    width: 2rem;
    height: 1em;
    background-color: #fff;
    position: absolute;
    visibility: hidden;
}

input[type="radio"]:checked+label .icon {
    background-color: #3478EB;
    color: #3478EB;
}

input[type="radio"]:checked+label {
    color: #3478EB;
}

.radio {
    background-color: hsl(183, 100%, 15%);
    color: white;
}

.ContinueWithGoogle {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .1s ease;
}

.ContinueWithGoogle svg {
    height: 24px;
}

.ContinueWithGoogle:hover {
    transform: scale(1.02);
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.body-min-height {
    min-height: 100vh;
    background-color: dodgerblue;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0.5rem;
}

.section-container {
    width: 100%;
    max-width: 830px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.button-submit {
    padding: 0.5rem;
}

.SubmitButtonSignUp {
    color: #000;
    background-color: #FFBF00;
    border-radius: 15px;
    border-color: transparent;
    padding: 5px;
    font-weight: bolder;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions>svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.SignUpBars {
    border-radius: 10px;
    border-color: #00000027;
    border-width: 1px;
    padding: 5px;

}

.react-date-picker__wrapper {
    border-radius: 5px;
    padding: 5px;
    border-color: #00000027 !important;
    border-width: 1px !important;
}